body {
  margin: 0px;
  padding: 0px;
  background-color: #2F363F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

section {
  margin: 10px 50px;
}

@media (max-width: 425px) {
  section {
    margin: 10px 5px;
  }
}

section .site-title {
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px;
          box-shadow: 0px 2px 2px 0px;
  width: 30%;
  margin: 0 auto;
  color: white;
}

@media (max-width: 425px) {
  section .site-title {
    font-size: 16px;
    width: 60%;
  }
}

section .search-container {
  width: 85%;
  margin: 20px auto;
}

section .search-container input {
  width: 100%;
  height: 25px;
  background: transparent;
  color: white;
  padding: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

section .article-title {
  margin: 10px 0px;
}

@media (max-width: 425px) {
  section .article-title {
    font-size: 16px;
    margin: 5px 0px;
  }
}

section .article-description {
  margin: 10px 0px;
}

@media (max-width: 425px) {
  section .article-description {
    font-size: 12px;
    margin: 5px 0px;
  }
}

section .article-author {
  width: 100%;
  color: #03DAC5;
  text-align: right;
  position: relative;
  bottom: 0px;
}

@media (max-width: 425px) {
  section .article-author {
    font-size: 8px;
    margin: 5px 0px;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
  margin: 30px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  ul {
    margin: 30px 0px;
  }
}

ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0px 10px;
  height: 350px;
  width: 250px;
  background-color: #47535E;
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (max-width: 425px) {
  ul li {
    height: 250px;
    width: 150px;
    padding: 10px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }
}

ul li:hover {
  -webkit-box-shadow: 2px 3px 8px 0px;
          box-shadow: 2px 3px 8px 0px;
}

.article-img {
  width: 250px;
  height: 150px;
}

@media (max-width: 425px) {
  .article-img {
    height: 100px;
    width: 150px;
  }
}

#author {
  width: 100%;
  text-align: right;
  position: relative;
  bottom: 0px;
}

.BtnContainer {
  width: 100%;
  margin: -35px 10px auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BtnContainer .arrowContainer {
  background-color: #7b7c7c;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 2px 3px 8px 0px;
          box-shadow: 2px 3px 8px 0px;
  margin: 0px 10px;
}

@media (max-width: 425px) {
  .BtnContainer .arrowContainer {
    margin: 10px 10px;
    height: 35px;
    width: 50px;
  }
}

.BtnContainer .arrowContainer .Pageprev {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
}

@media (max-width: 425px) {
  .BtnContainer .arrowContainer .Pageprev {
    width: 70%;
    padding-left: 10px;
  }
}

.BtnContainer .arrowContainer .Pagenext {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
}

@media (max-width: 425px) {
  .BtnContainer .arrowContainer .Pagenext {
    width: 70%;
    padding-left: 5px;
  }
}

.loader {
  margin: 200px auto;
  text-align: center;
  color: #7b7c7c;
}

.loader svg {
  height: 80px;
  width: 80px;
  fill: #7b7c7c;
  -webkit-transform-origin: 44% 50%;
          transform-origin: 44% 50%;
  -webkit-animation: rotate 1.5s infinite linear;
          animation: rotate 1.5s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.not-found {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */